.banner-wrapper {
    margin-top: -7%;
    z-index: 51;
    position: relative;
}

.banner__img img {
    width: 220px;
    margin: 0 auto;
    display: block;
}

.banner__item h3 a {
    color: #000;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
}

.banner__item p {
    text-align: center;
    color: #484747;
    display: block;
}

a.btnbmore {
    background-color: #1c1c1c;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: .8rem;
    margin-top: 15px;
}