.news-wrapper {
    background: #000;
    padding: 30px 0;
}
.section-title-white h3 {
    color: #fff;
    font-size: 1.4rem;
}

.news-item a {
    display: flex;
    margin-bottom: 15px;
}

.news-img {
    width: 400px;
    overflow: hidden;
    margin-right: 15px;
}

.news-img img {
    width: 100%;
    height: auto;
}

.news-info p {
    color: #ababab;
    font-size: .85rem;
}
.news-info h3 {
    color: #fff;
    font-weight: 900;
    font-size: 1rem;
}

.ativity-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 104px;
}